/* 
.items:hover img{
  transform: scale(1.1);
  transition: 0.6s;
} */
.items a{
  text-decoration: none;
  color: black;
}

  .itemImage{
    overflow: hidden;
  }
  .itemImage img{
    width: 100%;
  }
  .items button {
    opacity: 0;
    transform: translateY(100%);
    transition: 0.6s;
  }
  .items{
    /* transition: 0.6s; */
    border: solid 1px transparent;
  }
  .items:hover button{
    opacity: 100;
    transform: translateY(0);
  }
  .items:hover{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
  }
